@model IEnumerable<ASPProject1.Data.News>

@{
    ViewData["Title"] = "Index";
}


<div class="inf ">
    <h2 id="title1" class="title">ФА Розова Долина</h2>
    <h1 id="title2" class="title">Новини</h1>
    <p class="text">В тази страница ще намерите най-актуалните новини за насамбъла. <br />Кaто бъдещи и минали изяви </p>
</div>
<p class="create-new">
    <a asp-action="Create">Създай</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    <a class="buttons"asp-action="Details" asp-route-id="@item.Id">Снимки</a>
                </td>
                <td>
                    <a class="buttons" asp-action="Edit" asp-route-id="@item.Id">Обнови</a> 
                    <a class="buttons" asp-action="Details" asp-route-id="@item.Id">Преглед</a> 
                    <a class="buttons" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<body>

    @*<div class="news">
            <div id="images-5">
                <div id="images-6">
                    <h1>Полша 06.06.2022г.до 13.06.2022г.</h1>

                    <p id="news-text">
                        Концерта ще се състои заедно с ФА "Загоре"<br />
                        по случай годишнините на ансамблите.<br />
                        В НЧ "Васил Левски" 1861г. гр. Карлово от 19:00.<br />
                        <br />
                    </p>
                    <h1 id="news-bilet">Билети на касата</h1>
                </div>
            </div>
            <div id="images-3">
                <div id="images-4">
                    <h1> Празник на розата 28.05.2022г.</h1>

                    <p id="news-text">
                        Концерта ще се състои в Карлово на две места.<br />
                        Като той започва край нивите на град Карлово.<br />
                        И продължава на площада.Започвайки от сутринта в 9:00<br />
                        <br />
                    </p>
                    <h1 id="news-bilet">Билети не се закупуват</h1>
                </div>
            </div>
            <div id="images-1">
                <div id="images-2">
                    <h1>Карлово 18.05.2022г.</h1>

                    <p id="news-text">
                        Концерта ще се състои заедно с ФА "Загоре"<br />
                        по случай годишнините на ансамблите.<br />
                        В НЧ "Васил Левски" 1861г. гр. Карлово от 19:00.<br />
                        <br />
                    </p>
                    <h1 id="news-bilet">Билети на касата</h1>
                </div>
            </div>
        </div>*@
    <footer id="News-footer">
        <a class="footer1" asp-area="" asp-controller="Home" asp-action="Contacts"> &copy; 2022 -Розова Долина-Контакти</a>
    </footer>

</body>

